
html, body{
    height:70%;
}
img{
    max-width: 50%;
    
}

#cover{
    background: #222 url('img\pcasus.jpg')center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
